<!DOCTYPE html>
<html lang="en">
    <head>
      {% if title %}
      <title>{{ title }} - Book Catalog</title>
      {% else %}
      <title>Book Catalog</title>
      {% endif %}
    </head>
    <body>
        <div>
            Book Catalog:
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('search') }}">Search</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>